body, html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 13vh auto 49vh;
    grid-template-areas: "h h"
                         "s s"
                         "f f";
}

header{
    background-color: black;
    display: flex;
    grid-area: h;
    flex-direction: column;
    align-items: center;
}
#top{
    background-color: white ;
    height: 59%;
    width: 1248px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo{
    background-color: white;
    width: 187px;
    height: 60%;
    grid-area: h;
    padding-top: 19px;
    padding-left: 12px;
    
}
#logo svg {
    --logo-color: #1087ff;
    --logo-color-hover: #0a9eff;
    
    font-family: Source Sans Pro,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
    color: var(--logo-color);
    x: 0px;
    y: 0px;
    width: 135;
    height: 25.2;
    box-sizing: border-box;
    display: block;
}

#logo svg:hover {
    --logo-color-focus: #355dd4;
}
#busca{
    background-color: darkolivegreen;
    width: 874px;
    height: 60%;
}

#blackFriday{
    background-color: darkslategray;
    width: 187px;
    height: 60%;
}

#menu{
    background-color: pink;
    height: 41%;
    width: 1248px;
    
}

.item{
    background-color: aliceblue;
    height: 1000px;
}
section{
    background-color: blue;
    grid-area: s;

}

footer{
    background-color: blueviolet;
    grid-area: f;
}





 